In [1]:
import pandas as pd
import numpy as np
f = pd.read_csv('pandas_tutorial_read.csv', delimiter=';')
f

      2018-01-01 00:01:01  read  country_7  2458151261      SEO  North America
0     2018-01-01 00:03:20  read  country_7  2458151262      SEO  South America
1     2018-01-01 00:04:01  read  country_7  2458151263  AdWords         Africa
2     2018-01-01 00:04:02  read  country_7  2458151264  AdWords         Europe
3     2018-01-01 00:05:03  read  country_8  2458151265   Reddit  North America
4     2018-01-01 00:05:42  read  country_6  2458151266   Reddit  North America
5     2018-01-01 00:06:06  read  country_2  2458151267   Reddit         Europe
6     2018-01-01 00:06:15  read  country_6  2458151268  AdWords         Europe
7     2018-01-01 00:07:21  read  country_7  2458151269  AdWords  North America
8     2018-01-01 00:07:29  read  country_5  2458151270   Reddit  North America
9     2018-01-01 00:07:57  read  country_5  2458151271  AdWords           Asia
10    2018-01-01 00:08:57  read  country_7  2458151272      SEO      Australia
11    2018-01-01 00:09:11  read  country_5  2458151273   Reddit           Asia
12    2018-01-01 00:09:29  read  country_2  2458151274   Reddit         Europe
13    2018-01-01 00:11:06  read  country_7  2458151275   Reddit         Africa
14    2018-01-01 00:11:22  read  country_7  2458151276      SEO  North America
15    2018-01-01 00:13:05  read  country_8  2458151277      SEO  North America
16    2018-01-01 00:13:06  read  country_2  2458151278   Reddit           Asia
17    2018-01-01 00:13:39  read  country_4  2458151279      SEO  North America
18    2018-01-01 00:14:53  read  country_2  2458151280   Reddit           Asia
19    2018-01-01 00:15:44  read  country_2  2458151281   Reddit           Asia
20    2018-01-01 00:15:50  read  country_7  2458151282   Reddit         Africa
21    2018-01-01 00:17:15  read  country_2  2458151283  AdWords         Europe
22    2018-01-01 00:17:31  read  country_2  2458151284   Reddit           Asia
23    2018-01-01 00:17:58  read  country_7  2458151285   Reddit         Africa
24    2018-01-01 00:18:55  read  country_2  2458151286  AdWords  North America
25    2018-01-01 00:20:18  read  country_5  2458151287      SEO  North America
26    2018-01-01 00:20:44  read  country_2  2458151288      SEO  North America
27    2018-01-01 00:23:16  read  country_2  2458151289   Reddit           Asia
28    2018-01-01 00:23:51  read  country_7  2458151290   Reddit           Asia
29    2018-01-01 00:24:52  read  country_6  2458151291      SEO  North America
...                   ...   ...        ...         ...      ...            ...
1764  2018-01-01 23:41:11  read  country_2  2458153026   Reddit         Africa
1765  2018-01-01 23:41:51  read  country_5  2458153027  AdWords           Asia
1766  2018-01-01 23:43:54  read  country_5  2458153028  AdWords         Europe
1767  2018-01-01 23:44:52  read  country_8  2458153029   Reddit  South America
1768  2018-01-01 23:45:09  read  country_5  2458153030  AdWords      Australia
1769  2018-01-01 23:45:12  read  country_6  2458153031   Reddit           Asia
1770  2018-01-01 23:45:56  read  country_5  2458153032  AdWords         Africa
1771  2018-01-01 23:45:58  read  country_7  2458153033      SEO  South America
1772  2018-01-01 23:46:13  read  country_8  2458153034   Reddit           Asia
1773  2018-01-01 23:46:22  read  country_2  2458153035  AdWords           Asia
1774  2018-01-01 23:47:19  read  country_2  2458153036  AdWords           Asia
1775  2018-01-01 23:49:04  read  country_6  2458153037   Reddit           Asia
1776  2018-01-01 23:49:52  read  country_5  2458153038      SEO  North America
1777  2018-01-01 23:51:17  read  country_2  2458153039   Reddit           Asia
1778  2018-01-01 23:51:25  read  country_4  2458153040      SEO  South America
1779  2018-01-01 23:51:46  read  country_8  2458153041  AdWords         Africa
1780  2018-01-01 23:51:52  read  country_2  2458153042   Reddit           Asia
1781  2018-01-01 23:53:03  read  country_2  2458153043  AdWords           Asia
1782  2018-01-01 23:53:33  read  country_3  2458153044   Reddit           Asia
1783  2018-01-01 23:54:03  read  country_2  2458153045      SEO  North America
1784  2018-01-01 23:54:26  read  country_2  2458153046  AdWords         Africa
1785  2018-01-01 23:54:39  read  country_6  2458153047   Reddit           Asia
1786  2018-01-01 23:54:45  read  country_2  2458153048   Reddit           Asia
1787  2018-01-01 23:55:04  read  country_7  2458153049  AdWords         Europe
1788  2018-01-01 23:56:42  read  country_4  2458153050  AdWords           Asia
1789  2018-01-01 23:57:14  read  country_2  2458153051  AdWords  North America
1790  2018-01-01 23:58:33  read  country_8  2458153052      SEO           Asia
1791  2018-01-01 23:59:36  read  country_6  2458153053   Reddit           Asia
1792  2018-01-01 23:59:36  read  country_7  2458153054  AdWords         Europe
1793  2018-01-01 23:59:38  read  country_5  2458153055   Reddit           Asia

[1794 rows x 6 columns]

In [2]:
f['North America']

0       South America
1              Africa
2              Europe
3       North America
4       North America
5              Europe
6              Europe
7       North America
8       North America
9                Asia
10          Australia
11               Asia
12             Europe
13             Africa
14      North America
15      North America
16               Asia
17      North America
18               Asia
19               Asia
20             Africa
21             Europe
22               Asia
23             Africa
24      North America
25      North America
26      North America
27               Asia
28               Asia
29      North America
            ...
1764           Africa
1765             Asia
1766           Europe
1767    South America
1768        Australia
1769             Asia
1770           Africa
1771    South America
1772             Asia
1773             Asia
1774             Asia
1775             Asia
1776    North America
1777             Asia
1778    South America
1779           Africa
1780             Asia
1781             Asia
1782             Asia
1783    North America
1784           Africa
1785             Asia
1786             Asia
1787           Europe
1788             Asia
1789    North America
1790             Asia
1791             Asia
1792           Europe
1793             Asia
Name: North America, Length: 1794, dtype: object

In [4]:
f[0:10]     #slicing first 10 rows

    2018-01-01 00:01:01  read  country_7  2458151261      SEO  North America
0   2018-01-01 00:03:20  read  country_7  2458151262      SEO  South America
1   2018-01-01 00:04:01  read  country_7  2458151263  AdWords         Africa
2   2018-01-01 00:04:02  read  country_7  2458151264  AdWords         Europe
3   2018-01-01 00:05:03  read  country_8  2458151265   Reddit  North America
4   2018-01-01 00:05:42  read  country_6  2458151266   Reddit  North America
5   2018-01-01 00:06:06  read  country_2  2458151267   Reddit         Europe
6   2018-01-01 00:06:15  read  country_6  2458151268  AdWords         Europe
7   2018-01-01 00:07:21  read  country_7  2458151269  AdWords  North America
8   2018-01-01 00:07:29  read  country_5  2458151270   Reddit  North America
9   2018-01-01 00:07:57  read  country_5  2458151271  AdWords           Asia
10  2018-01-01 00:08:57  read  country_7  2458151272      SEO      Australia

In [12]:
# selection by lable
f.loc[:,['read','SEO']]

      read      SEO
0     read      SEO
1     read  AdWords
2     read  AdWords
3     read   Reddit
4     read   Reddit
5     read   Reddit
6     read  AdWords
7     read  AdWords
8     read   Reddit
9     read  AdWords
10    read      SEO
11    read   Reddit
12    read   Reddit
13    read   Reddit
14    read      SEO
15    read      SEO
16    read   Reddit
17    read      SEO
18    read   Reddit
19    read   Reddit
20    read   Reddit
21    read  AdWords
22    read   Reddit
23    read   Reddit
24    read  AdWords
25    read      SEO
26    read      SEO
27    read   Reddit
28    read   Reddit
29    read      SEO
...    ...      ...
1764  read   Reddit
1765  read  AdWords
1766  read  AdWords
1767  read   Reddit
1768  read  AdWords
1769  read   Reddit
1770  read  AdWords
1771  read      SEO
1772  read   Reddit
1773  read  AdWords
1774  read  AdWords
1775  read   Reddit
1776  read      SEO
1777  read   Reddit
1778  read      SEO
1779  read  AdWords
1780  read   Reddit
1781  read  AdWords
1782  read   Reddit
1783  read      SEO
1784  read  AdWords
1785  read   Reddit
1786  read   Reddit
1787  read  AdWords
1788  read  AdWords
1789  read  AdWords
1790  read      SEO
1791  read   Reddit
1792  read  AdWords
1793  read   Reddit

[1794 rows x 2 columns]

In [21]:
f.loc[1:10,['2458151261','North America']]

    2458151261  North America
1   2458151263         Africa
2   2458151264         Europe
3   2458151265  North America
4   2458151266  North America
5   2458151267         Europe
6   2458151268         Europe
7   2458151269  North America
8   2458151270  North America
9   2458151271           Asia
10  2458151272      Australia

In [23]:
#Selection by position
f.iloc[5]

2018-01-01 00:01:01    2018-01-01 00:06:06
read                                  read
country_7                        country_2
2458151261                      2458151267
SEO                                 Reddit
North America                       Europe
Name: 5, dtype: object

In [24]:
f.iloc[0:8,0:7]

   2018-01-01 00:01:01  read  country_7  2458151261      SEO  North America
0  2018-01-01 00:03:20  read  country_7  2458151262      SEO  South America
1  2018-01-01 00:04:01  read  country_7  2458151263  AdWords         Africa
2  2018-01-01 00:04:02  read  country_7  2458151264  AdWords         Europe
3  2018-01-01 00:05:03  read  country_8  2458151265   Reddit  North America
4  2018-01-01 00:05:42  read  country_6  2458151266   Reddit  North America
5  2018-01-01 00:06:06  read  country_2  2458151267   Reddit         Europe
6  2018-01-01 00:06:15  read  country_6  2458151268  AdWords         Europe
7  2018-01-01 00:07:21  read  country_7  2458151269  AdWords  North America

In [25]:
f.iloc[[1,4,5],[0,2]]

   2018-01-01 00:01:01  country_7
1  2018-01-01 00:04:01  country_7
4  2018-01-01 00:05:42  country_6
5  2018-01-01 00:06:06  country_2

In [26]:
#slicing rows explicitly
f.iloc[1:5,:]

   2018-01-01 00:01:01  read  country_7  2458151261      SEO  North America
1  2018-01-01 00:04:01  read  country_7  2458151263  AdWords         Africa
2  2018-01-01 00:04:02  read  country_7  2458151264  AdWords         Europe
3  2018-01-01 00:05:03  read  country_8  2458151265   Reddit  North America
4  2018-01-01 00:05:42  read  country_6  2458151266   Reddit  North America

In [ ]:
#getting value explicitely
f.iloc[2,3]