In [66]:
import pandas as pd
import numpy as np
s = pd.DataFrame({'A':[1,2,3,4,6,8,5,78], 
                  'B':[9,2,5,3,7,89,54,23]}, index = pd.date_range('29/10/2018', periods = 8))
print(s)

             A   B
2018-10-29   1   9
2018-10-30   2   2
2018-10-31   3   5
2018-11-01   4   3
2018-11-02   6   7
2018-11-03   8  89
2018-11-04   5  54
2018-11-05  78  23

In [67]:
s['C'] = ['aa', 'bb', 'cc', 'dd', 'ee', 'ff', 'gg', 'nn']
s

             A   B   C
2018-10-29   1   9  aa
2018-10-30   2   2  bb
2018-10-31   3   5  cc
2018-11-01   4   3  dd
2018-11-02   6   7  ee
2018-11-03   8  89  ff
2018-11-04   5  54  gg
2018-11-05  78  23  nn

In [68]:
s.columns = ['first','second','third']
s

            first  second third
2018-10-29      1       9    aa
2018-10-30      2       2    bb
2018-10-31      3       5    cc
2018-11-01      4       3    dd
2018-11-02      6       7    ee
2018-11-03      8      89    ff
2018-11-04      5      54    gg
2018-11-05     78      23    nn

In [58]:
#setting new column autometically
s1 = pd.Series([1,2,3,4,5,6,7,8,9,10], index = pd.date_range('29/10/2018', periods = 10))

In [59]:
s1

2018-10-29     1
2018-10-30     2
2018-10-31     3
2018-11-01     4
2018-11-02     5
2018-11-03     6
2018-11-04     7
2018-11-05     8
2018-11-06     9
2018-11-07    10
Freq: D, dtype: int64

In [74]:
s['forth'] = s1

In [73]:
print(s)

            first  second third  fifth  forth
2018-10-29      1       9    aa    NaN      1
2018-10-30      2       2    bb    NaN      2
2018-10-31      3       5    cc    NaN      3
2018-11-01      4       3    dd    NaN      4
2018-11-02      6       7    ee    NaN      5
2018-11-03      8      89    ff    NaN      6
2018-11-04      5      54    gg    NaN      7
2018-11-05     78      23    nn    NaN      8

In [76]:
s2 = pd.Series([1,2,3,4,4,5,6,7,8])
s['fifth'] = s2
print(s)

            first  second third  fifth  forth
2018-10-29      1       9    aa    NaN      1
2018-10-30      2       2    bb    NaN      2
2018-10-31      3       5    cc    NaN      3
2018-11-01      4       3    dd    NaN      4
2018-11-02      6       7    ee    NaN      5
2018-11-03      8      89    ff    NaN      6
2018-11-04      5      54    gg    NaN      7
2018-11-05     78      23    nn    NaN      8

In [79]:
#Setting values by lable

s.at['second'] = 0

In [80]:
print(s)

                     first  second third  fifth  forth
2018-10-29 00:00:00    1.0     9.0    aa    NaN    1.0
2018-10-30 00:00:00    2.0     2.0    bb    NaN    2.0
2018-10-31 00:00:00    3.0     5.0    cc    NaN    3.0
2018-11-01 00:00:00    4.0     3.0    dd    NaN    4.0
2018-11-02 00:00:00    6.0     7.0    ee    NaN    5.0
2018-11-03 00:00:00    8.0    89.0    ff    NaN    6.0
2018-11-04 00:00:00    5.0    54.0    gg    NaN    7.0
2018-11-05 00:00:00   78.0    23.0    nn    NaN    8.0
second                 0.0     0.0     0    0.0    0.0

In [81]:
s.at[3,['third']] = 1

In [82]:
print(s)

                     first  second third  fifth  forth
2018-10-29 00:00:00    1.0     9.0    aa    NaN    1.0
2018-10-30 00:00:00    2.0     2.0    bb    NaN    2.0
2018-10-31 00:00:00    3.0     5.0    cc    NaN    3.0
2018-11-01 00:00:00    4.0     3.0    dd    NaN    4.0
2018-11-02 00:00:00    6.0     7.0    ee    NaN    5.0
2018-11-03 00:00:00    8.0    89.0    ff    NaN    6.0
2018-11-04 00:00:00    5.0    54.0    gg    NaN    7.0
2018-11-05 00:00:00   78.0    23.0    nn    NaN    8.0
second                 0.0     0.0     0    0.0    0.0
3                      NaN     NaN     1    NaN    NaN

In [86]:
s.at['2018-11-06']=5
print(s)

                     first  second third  fifth  forth
2018-10-29 00:00:00    1.0     9.0    aa    NaN    1.0
2018-10-30 00:00:00    2.0     2.0    bb    NaN    2.0
2018-10-31 00:00:00    3.0     5.0    cc    NaN    3.0
2018-11-01 00:00:00    4.0     3.0    dd    NaN    4.0
2018-11-02 00:00:00    6.0     7.0    ee    NaN    5.0
2018-11-03 00:00:00    8.0    89.0    ff    NaN    6.0
2018-11-04 00:00:00    5.0    54.0    gg    NaN    7.0
2018-11-05 00:00:00   78.0    23.0    nn    NaN    8.0
second                 0.0     0.0     0    0.0    0.0
3                      NaN     NaN     1    NaN    NaN
2018-11-02             5.0     5.0     5    5.0    5.0
2018-11-06             5.0     5.0     5    5.0    5.0

In [87]:
#Setting by positin
s.iat[0,1] = 0
print(s)

                     first  second third  fifth  forth
2018-10-29 00:00:00    1.0     0.0    aa    NaN    1.0
2018-10-30 00:00:00    2.0     2.0    bb    NaN    2.0
2018-10-31 00:00:00    3.0     5.0    cc    NaN    3.0
2018-11-01 00:00:00    4.0     3.0    dd    NaN    4.0
2018-11-02 00:00:00    6.0     7.0    ee    NaN    5.0
2018-11-03 00:00:00    8.0    89.0    ff    NaN    6.0
2018-11-04 00:00:00    5.0    54.0    gg    NaN    7.0
2018-11-05 00:00:00   78.0    23.0    nn    NaN    8.0
second                 0.0     0.0     0    0.0    0.0
3                      NaN     NaN     1    NaN    NaN
2018-11-02             5.0     5.0     5    5.0    5.0
2018-11-06             5.0     5.0     5    5.0    5.0

In [89]:
s.loc[:,'fifth'] = np.array([6] * len(s))
print(s)

                     first  second third  fifth  forth
2018-10-29 00:00:00    1.0     0.0    aa      6    1.0
2018-10-30 00:00:00    2.0     2.0    bb      6    2.0
2018-10-31 00:00:00    3.0     5.0    cc      6    3.0
2018-11-01 00:00:00    4.0     3.0    dd      6    4.0
2018-11-02 00:00:00    6.0     7.0    ee      6    5.0
2018-11-03 00:00:00    8.0    89.0    ff      6    6.0
2018-11-04 00:00:00    5.0    54.0    gg      6    7.0
2018-11-05 00:00:00   78.0    23.0    nn      6    8.0
second                 0.0     0.0     0      6    0.0
3                      NaN     NaN     1      6    NaN
2018-11-02             5.0     5.0     5      6    5.0
2018-11-06             5.0     5.0     5      6    5.0