In [6]:
import pandas as pd
import numpy as np

#creating series from list,numpyarray and dict

list1 = list('abcdefghijklmnopqrstuvwxyz')
arr1 = np.arange(1,27)
dict1 = dict(zip(list1,arr1))

ser1 = pd.Series(list1)
ser2 = pd.Series(arr1)
ser3 = pd.Series(dict1)
print(ser3)

a     1
b     2
c     3
d     4
e     5
f     6
g     7
h     8
i     9
j    10
k    11
l    12
m    13
n    14
o    15
p    16
q    17
r    18
s    19
t    20
u    21
v    22
w    23
x    24
y    25
z    26
dtype: int64

In [27]:
#convert the index of a series into a column of a dataframe
df = ser3.to_frame().reset_index()
print(df)

   index   0
0      a   1
1      b   2
2      c   3
3      d   4
4      e   5
5      f   6
6      g   7
7      h   8
8      i   9
9      j  10
10     k  11
11     l  12
12     m  13
13     n  14
14     o  15
15     p  16
16     q  17
17     r  18
18     s  19
19     t  20
20     u  21
21     v  22
22     w  23
23     x  24
24     y  25
25     z  26

In [12]:
df.head()

  index  0
0     a  1
1     b  2
2     c  3
3     d  4
4     e  5

In [30]:
df.columns = ['1','2']
df.head()

   1  2
0  a  1
1  b  2
2  c  3
3  d  4
4  e  5

In [64]:
import pandas as pd
#combine many series to form a dataframe
ser4 = ('aa', 'bbb', 'rrr', 'pp', 'ff')
ser5 = ('123','222', '657', '324', '224')

new = pd.DataFrame([ser4,ser5])
print(new)

     0    1    2    3    4
0   aa  bbb  rrr   pp   ff
1  123  222  657  324  224

In [65]:
df2 = new.T
print(df2)

     0    1
0   aa  123
1  bbb  222
2  rrr  657
3   pp  324
4   ff  224

In [73]:
df3 = pd.concat([df,df2])
print(df3)

      1     2    0    1
0     a   1.0  NaN  NaN
1     b   2.0  NaN  NaN
2     c   3.0  NaN  NaN
3     d   4.0  NaN  NaN
4     e   5.0  NaN  NaN
5     f   6.0  NaN  NaN
6     g   7.0  NaN  NaN
7     h   8.0  NaN  NaN
8     i   9.0  NaN  NaN
9     j  10.0  NaN  NaN
10    k  11.0  NaN  NaN
11    l  12.0  NaN  NaN
12    m  13.0  NaN  NaN
13    n  14.0  NaN  NaN
14    o  15.0  NaN  NaN
15    p  16.0  NaN  NaN
16    q  17.0  NaN  NaN
17    r  18.0  NaN  NaN
18    s  19.0  NaN  NaN
19    t  20.0  NaN  NaN
20    u  21.0  NaN  NaN
21    v  22.0  NaN  NaN
22    w  23.0  NaN  NaN
23    x  24.0  NaN  NaN
24    y  25.0  NaN  NaN
25    z  26.0  NaN  NaN
0   NaN   NaN   aa  123
1   NaN   NaN  bbb  222
2   NaN   NaN  rrr  657
3   NaN   NaN   pp  324
4   NaN   NaN   ff  224

In [74]:
final = df3.reset_index()
print(final)

    index    1     2    0    1
0       0    a   1.0  NaN  NaN
1       1    b   2.0  NaN  NaN
2       2    c   3.0  NaN  NaN
3       3    d   4.0  NaN  NaN
4       4    e   5.0  NaN  NaN
5       5    f   6.0  NaN  NaN
6       6    g   7.0  NaN  NaN
7       7    h   8.0  NaN  NaN
8       8    i   9.0  NaN  NaN
9       9    j  10.0  NaN  NaN
10     10    k  11.0  NaN  NaN
11     11    l  12.0  NaN  NaN
12     12    m  13.0  NaN  NaN
13     13    n  14.0  NaN  NaN
14     14    o  15.0  NaN  NaN
15     15    p  16.0  NaN  NaN
16     16    q  17.0  NaN  NaN
17     17    r  18.0  NaN  NaN
18     18    s  19.0  NaN  NaN
19     19    t  20.0  NaN  NaN
20     20    u  21.0  NaN  NaN
21     21    v  22.0  NaN  NaN
22     22    w  23.0  NaN  NaN
23     23    x  24.0  NaN  NaN
24     24    y  25.0  NaN  NaN
25     25    z  26.0  NaN  NaN
26      0  NaN   NaN   aa  123
27      1  NaN   NaN  bbb  222
28      2  NaN   NaN  rrr  657
29      3  NaN   NaN   pp  324
30      4  NaN   NaN   ff  224

In [76]:
final.columns = ['1','2','3','4','5']
print(final)

     1    2     3    4    5
0    0    a   1.0  NaN  NaN
1    1    b   2.0  NaN  NaN
2    2    c   3.0  NaN  NaN
3    3    d   4.0  NaN  NaN
4    4    e   5.0  NaN  NaN
5    5    f   6.0  NaN  NaN
6    6    g   7.0  NaN  NaN
7    7    h   8.0  NaN  NaN
8    8    i   9.0  NaN  NaN
9    9    j  10.0  NaN  NaN
10  10    k  11.0  NaN  NaN
11  11    l  12.0  NaN  NaN
12  12    m  13.0  NaN  NaN
13  13    n  14.0  NaN  NaN
14  14    o  15.0  NaN  NaN
15  15    p  16.0  NaN  NaN
16  16    q  17.0  NaN  NaN
17  17    r  18.0  NaN  NaN
18  18    s  19.0  NaN  NaN
19  19    t  20.0  NaN  NaN
20  20    u  21.0  NaN  NaN
21  21    v  22.0  NaN  NaN
22  22    w  23.0  NaN  NaN
23  23    x  24.0  NaN  NaN
24  24    y  25.0  NaN  NaN
25  25    z  26.0  NaN  NaN
26   0  NaN   NaN   aa  123
27   1  NaN   NaN  bbb  222
28   2  NaN   NaN  rrr  657
29   3  NaN   NaN   pp  324
30   4  NaN   NaN   ff  224